<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<div id="app">
  <header>
    <div class="tools">
      <div><h1>Películas</h1></div>
      <div>
        <ul>
          <li><span class="material-icons md-light">logout</span></li>
          <li><span class="material-icons md-light">settings</span></li>
          <li><span class="material-icons md-light">favorite</span></li>
        </ul>
      </div>
    </div>
  </header>
  <content>
    <router-outlet></router-outlet>
  </content>
  <footer></footer>
</div>