/* You can add global styles to this file, and also import other style files */
body{width: 100%; margin: 0 !important; padding: 0; font-family: 'Lato';}
a{text-decoration: none; cursor: pointer;}

#app{
    height: 100vh;
}

#app > header {
    background-color: darkslategray;
    color: white;
}

#app > content {
    overflow: auto;
}

.tools{
    display: flex;
    flex-wrap: wrap;
    margin: 0 1.5em;
}

.tools > div{
    flex: 2 1;
    justify-content: flex-start;
}

.tools ul {list-style: none;}
.tools ul li {display: inline; float: right; padding-left: 1em;}

.divSearcher{
    display:flex;
    flex-direction: row-reverse;
    padding: 1em 1.5em 1.25em;
}

a.button{
    border: 1px solid lightslategray;
    border-radius: 5px;
    padding: 0.34em 0.25em 0.2em;
    margin: 1.5em 2em;
}

a > span {vertical-align: bottom;}